body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.login {
    background-color: rgb(151, 148, 148);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.titulo {
    background-color: rgb(37, 185, 146);
    
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
.inputs {
    background-color: yellow;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs input {
    padding: 15px;
    font-size: 1.2em;
    border: none;
}
